@model IEnumerable<LapTop.Models.User>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tentaikhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matkhau)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tentaikhoan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matkhau)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { tendangnhap = item.Tentaikhoan })
                </td>
            </tr>
        }
    </tbody>
</table>
